
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
  margin : 0;
  padding : 0;
  box-sizing : border-box;
  transition : all 0.3s;
}
body {
  width : 100vw;
  height : 100vh;
  background-color: #63a4ff;
background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
  font-family: 'Poppins', sans-serif; 
  animation : example 10s ease -2s infinite alternate;
}
.logo{
  width: 55px;
  height: 55px;
}
#container{
  width : 40vw;
  background : #fff;
  margin : 0 auto;
  padding : 12px 24px;
  border-radius : 4px;
  display : flex;
  flex-direction : column;
  position : relative;
  top : 10%;
  box-shadow : 4px 5px 5px #66A9FF;
  transition : all 0.3s;
}
#container:hover {
  transform : scale(1.05,1.05);
}
#container > h1{
  font-size : 28px;
  margin : 10px 0;
}
#input-wrapper{
  width : 100%;
  display : flex;
}
#input-text{
  width : 100%;
  padding : 8px 12px;
  font-size : 18px;
  border : 0.5px solid #ccc;
  outline : none;
  border-radius : 4px 0 0 4px;
}
#input-text::placeholder{
  font-size : 16px;
  font-weight : 550;
  opacity : 0.5;
  letter-spacing : 1px;
  word-spacing : 0.5px;
}
#addBtn {
  width : 80px;
  font-size : 20px;
  color : white;
  background-color : #337AB7;
  border : none;
  border-radius : 0 4px 4px 0;
  cursor : pointer;
  outline : none;
  transition : all 0.3s;
}
#addBtn:hover{
  background-color : #5CB85C;
}
#todo-items-wrapper{
  width : 100%;
  height : 100%;
  margin : 10px 0;
  display : flex;
  flex-direction : column;
}
.todo-item {
  width : 100%;
  margin : 5px 0;
  background : rgba(204,204,204,0.4);
  border : none;
  border-radius : 2px;
  display : flex;
  align-items : center;
  justify-content : space-between;
  border : 0.3px solid rgba(204,204,204,0.4);
}
.todo-item > p {
  height : 100%;
  padding : 6px 12px;
}
.todo-item > div {
  height : 100%;
  background : #fff;
  cursor : pointer;
  display : flex;
  align-items : center;
}
.todo-item div i {
  padding : 10px 12px;
  color : red;
  transition : all 0.3s;
}
.todo-item div:hover i{
  color : #fff;
  background : red;
}
#footer{
  width : 100%;
  height : 50px;
  margin : 0 auto;
  display : flex;
  justify-content : space-between;
  align-items : center;
}
#footer > p {
  font-size : 15px;
  padding : 2px 4px;
}
#footer > button {
  font-size : 16px;
  padding : 4px 8px;
  border : none;
  border-radius : 4px;
  background : #337AB7;
  color : white;
  cursor : pointer;
  transition : all 0.3s;
}
#footer > button:hover{
  background : red;
}

/* Mobile Responsive */
@media (max-width : 600px) {
  body {
    width : 100vw;
  }
  #container {
    width : 90%;
  }
  #container > h1{
    font-size : 20px;
    margin : 10px 0;
  }
  #input-wrapper{
    width : 100%;
    display : flex;
  }
  #input-text{
    width : 100%;
    padding : 10px 8px;
    font-size : 15px;
    border : 0.5px solid #ccc;
    outline : none;
    border-radius : 4px 0 0 4px;
  }
  #input-text::placeholder{
    font-size : 15px;
    opacity : 0.5;
    letter-spacing : 1px;
    word-spacing : 0.5px;
  }
  #addBtn {
    width : 80px;
    font-size : 20px;
    color : white;
    background-color : #337AB7;
    border : none;
    border-radius : 0 4px 4px 0;
    cursor : pointer;
    outline : none;
    transition : all 0.3s;
  }
  #addBtn:hover{
    background-color : #5CB85C;
  }
  #todo-items-wrapper{
    width : 100%;
    height : 100%;
    margin : 10px 0;
    display : flex;
    flex-direction : column;
  }
  .todo-item {
    width : 100%;
    margin : 5px 0;
    background : rgba(204,204,204,0.4);
    border : none;
    border-radius : 2px;
    display : flex;
    align-items : center;
    justify-content : space-between;
    border : 0.3px solid rgba(204,204,204,0.4);
  }
  .todo-item > p {
    height : 100%;
    padding : 6px 12px;
    font-size : 15px;
  }
  .todo-item > div {
    height : 100%;
    background : #fff;
    cursor : pointer;
    display : flex;
    align-items : center;
  }
  .todo-item div i {
    padding : 10px 12px;
    color : red;
    transition : all 0.3s;
  }
  .todo-item div:hover i{
    color : #fff;
    background : red;
  }
  #edit-icon:hover i{
    color : #fff;
    background : #ccc;
  } 
  #trash-icon:hover i {
    color : #fff;
    background : red;
  }
  #footer{
    width : 100%;
    height : 50px;
    margin : 0 auto;
    display : flex;
    justify-content : space-between;
    align-items : center;
  }
  #footer > p {
    font-size : 15px;
    padding : 2px 4px;
  }
  #footer > button {
    font-size : 16px;
    padding : 4px 8px;
    border : none;
    border-radius : 4px;
    background : #337AB7;
    color : white;
    cursor : pointer;
    transition : all 0.3s;
    outline : none;
  }
  #footer > button:hover{
    background : red;
  }
}